n8n-workflows/active/1ObxEoPyLcitjDSg.json
{
  "updatedAt": "2026-06-14T21:42:58.000Z",
  "createdAt": "2026-05-17T02:15:33.439Z",
  "id": "1ObxEoPyLcitjDSg",
  "name": "Nextcloud Backup Verification",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "DATA_BACKUP=$(ls -1t /opt/backups/nextcloud/data/nextcloud-data-*.tar.gz 2>/dev/null | head -1); DB_BACKUP=$(ls -1t /opt/backups/nextcloud/db/nextcloud-db-*.sql.gz 2>/dev/null | head -1); HTML_BACKUP=$(ls -1t /opt/backups/nextcloud/html/nextcloud-html-*.tar.gz 2>/dev/null | head -1); printf \"HOST=%s\\n\" \"$(hostname)\"; printf \"DATE=%s\\n\" \"$(date '+%Y-%m-%d %H:%M:%S')\"; printf \"DATA_BACKUP=%s\\n\" \"$DATA_BACKUP\"; printf \"DB_BACKUP=%s\\n\" \"$DB_BACKUP\"; printf \"HTML_BACKUP=%s\\n\" \"$HTML_BACKUP\"; printf \"DATA_SIZE=%s\\n\" \"$(ls -lh \"$DATA_BACKUP\" 2>/dev/null | awk '{print $5}')\"; printf \"DB_SIZE=%s\\n\" \"$(ls -lh \"$DB_BACKUP\" 2>/dev/null | awk '{print $5}')\"; printf \"HTML_SIZE=%s\\n\" \"$(ls -lh \"$HTML_BACKUP\" 2>/dev/null | awk '{print $5}')\"; printf \"SUCCESS_LOG=%s\\n\" \"$(tail -50 /var/log/nextcloud-backup.log 2>/dev/null | grep -c 'Nextcloud backup completed successfully')\"; printf \"DISK_USAGE=%s\\n\" \"$(df -h / | awk 'NR==2 {print $5}')\"; printf \"DISK_AVAILABLE=%s\\n\" \"$(df -h / | awk 'NR==2 {print $4}')\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "76c725c9-9394-4c4a-b26c-aec5bd6d9ee0",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "bynhm7FCsOYKpzkI",
          "name": "docker-01"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stdout = items[0].json.stdout || \"\";\n\nconst data = {};\nfor (const line of stdout.split(\"\\n\")) {\n  const index = line.indexOf(\"=\");\n  if (index === -1) continue;\n\n  const key = line.slice(0, index).trim();\n  const value = line.slice(index + 1).trim();\n  data[key] = value;\n}\n\nconst hasDataBackup = Boolean(data.DATA_BACKUP);\nconst hasDbBackup = Boolean(data.DB_BACKUP);\nconst hasHtmlBackup = Boolean(data.HTML_BACKUP);\nconst successLog = Number(data.SUCCESS_LOG || 0) > 0;\n\nconst allGood = hasDataBackup && hasDbBackup && hasHtmlBackup && successLog;\n\nconst lines = [];\n\nlines.push(\"🗄️ **Nextcloud Backup Verification**\");\nlines.push(\"\");\nlines.push(`🕒 Time: ${new Date().toLocaleString(\"en-US\", { timeZone: \"America/Santo_Domingo\" })}`);\nlines.push(`🖥️ Host: ${data.HOST || \"unknown\"}`);\nlines.push(\"\");\n\nlines.push(allGood ? \"✅ **Backup looks good**\" : \"🚨 **Backup needs attention**\");\nlines.push(\"\");\n\nlines.push(`${hasDataBackup ? \"✅\" : \"🚨\"} Data backup: ${hasDataBackup ? data.DATA_SIZE || \"found\" : \"missing\"}`);\nlines.push(`${hasDbBackup ? \"✅\" : \"🚨\"} Database backup: ${hasDbBackup ? data.DB_SIZE || \"found\" : \"missing\"}`);\nlines.push(`${hasHtmlBackup ? \"✅\" : \"🚨\"} HTML backup: ${hasHtmlBackup ? data.HTML_SIZE || \"found\" : \"missing\"}`);\nlines.push(`${successLog ? \"✅\" : \"🚨\"} Success message found in log`);\nlines.push(\"\");\n\nlines.push(\"**Latest backup files**\");\nlines.push(\"```\");\nlines.push(`DATA: ${data.DATA_BACKUP || \"missing\"}`);\nlines.push(`DB:   ${data.DB_BACKUP || \"missing\"}`);\nlines.push(`HTML: ${data.HTML_BACKUP || \"missing\"}`);\nlines.push(\"```\");\n\nlines.push(\"\");\nlines.push(`💾 Root disk: ${data.DISK_USAGE || \"unknown\"} used, ${data.DISK_AVAILABLE || \"unknown\"} available`);\n\nreturn [\n  {\n    json: {\n      content: lines.join(\"\\n\"),\n      backupOk: allGood\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "0fad7cd9-2ff3-45a8-a9f2-cae2fe480ce9",
      "name": "Build Backup Report"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{$json.content}}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "af1ad1dc-8733-476b-b6db-a05413e20fc0",
      "name": "Discord",
      "webhookId": "f6e62bb5-0fa1-4a4d-a1ae-6903b5126987",
      "credentials": {
        "discordWebhookApi": {
          "id": "ZUE94hnemt0aeYVD",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "6fbc65cb-3d6f-4525-8123-e1219b8a9da5",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Execute a command": {
      "main": [
        [
          {
            "node": "Build Backup Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Backup Report": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "662bb62f-2bb4-4344-bffb-8349507f0aac",
  "activeVersionId": null,
  "versionCounter": 38,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-17T02:15:33.447Z",
      "createdAt": "2026-05-17T02:15:33.447Z",
      "role": "workflow:owner",
      "workflowId": "1ObxEoPyLcitjDSg",
      "projectId": "watVxhiyEGu7o6r1",
      "project": {
        "updatedAt": "2026-05-16T23:36:59.733Z",
        "createdAt": "2026-05-16T23:33:23.057Z",
        "id": "watVxhiyEGu7o6r1",
        "name": "Alfredo Yciano <alfredohiciano13@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a28a00c5-b0c8-43be-bdf6-fd02a41bbc63"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
