n8n-workflows/active/8fW46qYRuluELXT3.json
{
  "updatedAt": "2026-05-31T03:52:48.000Z",
  "createdAt": "2026-05-24T14:37:45.699Z",
  "id": "8fW46qYRuluELXT3",
  "name": "Zoho Weekly Recruitment Report",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                4
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        -224
      ],
      "id": "7b2c85c6-8271-42d9-bab2-bae9e42d650e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\n// n8n should run this on Thursday.\n// Report covers previous Thursday 00:00:00 through Wednesday 23:59:59.\n\nconst start = new Date(now);\nstart.setDate(now.getDate() - 7);\nstart.setHours(0, 0, 0, 0);\n\nconst end = new Date(now);\nend.setDate(now.getDate() - 1);\nend.setHours(23, 59, 59, 999);\n\nconst formatDate = (date) => {\n  return date.toISOString();\n};\n\nreturn [\n  {\n    json: {\n      report_start: formatDate(start),\n      report_end: formatDate(end),\n      report_label: `${start.toDateString()} - ${end.toDateString()}`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -64
      ],
      "id": "66439708-47a6-46de-b13b-73ee26e4d4f6",
      "name": "Set Report Date Range"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://accounts.zoho.com/oauth/v2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "client_id",
              "value": "1000.VUEE5FPBQ3Q8HHZULOI3PPMHWV599N"
            },
            {
              "name": "client_secret",
              "value": "148f2bb971057a918e053d9e69ab776c80499f6306"
            },
            {
              "name": "refresh_token",
              "value": "1000.40e4918369a51f8dc0a91a117adfee50.beaabcd8ac45a69bdcee545d406e65d2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        48
      ],
      "id": "69081739-dacd-4152-9dc4-4d6c8651b658",
      "name": "Zoho - Refresh Access Token"
    },
    {
      "parameters": {
        "url": "https://recruit.zoho.com/recruit/v2/Interviews",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "200"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Zoho-oauthtoken {{$('Zoho - Refresh Access Token').first().json.access_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        -112
      ],
      "id": "8bf56022-f767-4d7e-a858-4dfba960f489",
      "name": "Zoho - Get Interviews"
    },
    {
      "parameters": {
        "url": "https://recruit.zoho.com/recruit/v2/JobOpenings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "200"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Zoho-oauthtoken {{$('Zoho - Refresh Access Token').first().json.access_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        -112
      ],
      "id": "e5e19993-38b3-4d2c-84aa-acdfdddd5486",
      "name": "Zoho - Get Job Openings"
    },
    {
      "parameters": {
        "url": "https://recruit.zoho.com/recruit/v2/Applications",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "200"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Zoho-oauthtoken {{$('Zoho - Refresh Access Token').first().json.access_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        -112
      ],
      "id": "059d9764-fd48-49fa-9498-ffce257e98ae",
      "name": "Zoho - Get Applications"
    },
    {
      "parameters": {
        "jsCode": "const range = $('Set Report Date Range').first().json;\nconst start = new Date(range.report_start);\nconst end = new Date(range.report_end);\n\nconst jobOpeningResponse = $('Zoho - Get Job Openings').first().json;\nconst applicationResponse = $('Zoho - Get Applications').first().json;\nconst interviewResponse = $('Zoho - Get Interviews').first().json;\n\nconst jobs = jobOpeningResponse.data || [];\nconst applications = applicationResponse.data || [];\nconst interviews = interviewResponse.data || [];\n\nfunction normalizeLookup(value) {\n  if (!value) return '';\n  if (typeof value === 'string') return value;\n  if (value.name) return value.name;\n  return String(value);\n}\n\nfunction isWithinRange(value) {\n  if (!value) return false;\n  const date = new Date(value);\n  return date >= start && date <= end;\n}\n\nfunction getJobTitleFromJob(job) {\n  return normalizeLookup(\n    job.Job_Opening_Name ||\n    job.Posting_Title ||\n    job.Job_Title ||\n    job['Job Opening Name']\n  );\n}\n\nfunction getJobTitleFromApplication(app) {\n  return normalizeLookup(\n    app.Job_Opening_Name ||\n    app.Posting_Title ||\n    app.Job_Opening_ID\n  );\n}\n\nfunction getJobTitleFromInterview(interview) {\n  return normalizeLookup(interview.Job_Opening_Name);\n}\n\nfunction getClientFromJob(job) {\n  return normalizeLookup(\n    job.Client ||\n    job.Client_Name ||\n    job.Account_Name ||\n    job.Department_Name ||\n    job.Department ||\n    job.Hiring_Manager_Details\n  );\n}\n\nfunction getStatusFromJob(job) {\n  return normalizeLookup(\n    job.Job_Opening_Status ||\n    job.Job_Status ||\n    job.Status ||\n    job.Publish\n  );\n}\n\nfunction emptyRow(title = '') {\n  return {\n    'Job Title': title,\n    'Client': '',\n    'Total Candidates in Job Opening': 0,\n    'Candidates Worked This Week': 0,\n    'Candidates Invited to Book': 0,\n    'Candidates Interviewed': 0,\n    'Scheduled with Client': 0,\n    'Job Opening Status': ''\n  };\n}\n\nconst reportByJob = {};\n\n// 1. Create base rows from Job Openings\nfor (const job of jobs) {\n  const title = getJobTitleFromJob(job);\n  if (!title) continue;\n\n  if (!reportByJob[title]) {\n    reportByJob[title] = emptyRow(title);\n  }\n\n  reportByJob[title]['Client'] = getClientFromJob(job);\n  reportByJob[title]['Job Opening Status'] = getStatusFromJob(job);\n}\n\n// 2. Add Application-based counts\nfor (const app of applications) {\n  const title = getJobTitleFromApplication(app);\n  if (!title) continue;\n\n  if (!reportByJob[title]) {\n    reportByJob[title] = emptyRow(title);\n  }\n\n  // All-time/current total candidates attached to the job opening\n  reportByJob[title]['Total Candidates in Job Opening']++;\n\n  // Weekly activity: application touched/updated this week\n  if (isWithinRange(app.Updated_On) || isWithinRange(app.Last_Activity_Time)) {\n    reportByJob[title]['Candidates Worked This Week']++;\n  }\n\n  // Weekly booking invite activity\n  if (isWithinRange(app.Booking_Link_Sent_Date)) {\n    reportByJob[title]['Candidates Invited to Book']++;\n  }\n}\n\n// 3. Add Interview-based counts\nfor (const interview of interviews) {\n  const title = getJobTitleFromInterview(interview);\n  if (!title) continue;\n\n  if (!reportByJob[title]) {\n    reportByJob[title] = emptyRow(title);\n  }\n\n  if (!isWithinRange(interview.Start_DateTime)) continue;\n\n  const status = String(interview.Interview_Status || '').toLowerCase();\n  const interviewName = String(interview.Interview_Name || '').toLowerCase();\n\n  // Candidates interviewed this week\n  if (\n    status.includes('completed') ||\n    status.includes('complete') ||\n    status.includes('conducted')\n  ) {\n    reportByJob[title]['Candidates Interviewed']++;\n  }\n\n  // Scheduled with client this week\n  if (\n    interviewName.includes('client') ||\n    interviewName.includes('hiring manager') ||\n    interviewName.includes('hm')\n  ) {\n    reportByJob[title]['Scheduled with Client']++;\n  }\n}\n\n// 4. Sort and output rows\nconst rows = Object.values(reportByJob)\n  .filter(row => row['Job Title'])\n  .sort((a, b) => a['Job Title'].localeCompare(b['Job Title']));\n\nreturn rows.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        16
      ],
      "id": "f4f1e339-0441-43ad-b52d-fa7fcc232f2e",
      "name": "Build Weekly Job Report Rows"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "weekly-recruiting-report.xlsx",
          "headerRow": true,
          "sheetName": "Weekly Report"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1136,
        16
      ],
      "id": "328f5a4a-c660-4430-b53f-09d5324b5b94",
      "name": "Spreadsheet File"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Report Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Report Date Range": {
      "main": [
        [
          {
            "node": "Zoho - Refresh Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoho - Refresh Access Token": {
      "main": [
        [
          {
            "node": "Zoho - Get Job Openings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoho - Get Interviews": {
      "main": [
        [
          {
            "node": "Build Weekly Job Report Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoho - Get Job Openings": {
      "main": [
        [
          {
            "node": "Zoho - Get Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoho - Get Applications": {
      "main": [
        [
          {
            "node": "Zoho - Get Interviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Weekly Job Report Rows": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1b67c210-dba9-4cd6-aaac-259971294386",
  "activeVersionId": null,
  "versionCounter": 139,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-31T03:25:20.952Z",
      "createdAt": "2026-05-31T03:25:20.952Z",
      "role": "workflow:owner",
      "workflowId": "8fW46qYRuluELXT3",
      "projectId": "watVxhiyEGu7o6r1",
      "project": {
        "updatedAt": "2026-05-16T23:36:59.733Z",
        "createdAt": "2026-05-16T23:33:23.057Z",
        "id": "watVxhiyEGu7o6r1",
        "name": "Alfredo Yciano <alfredohiciano13@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a28a00c5-b0c8-43be-bdf6-fd02a41bbc63"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
