n8n-workflows/active/fMU6o4xZCxSRSoYK.json
{
  "updatedAt": "2026-06-14T21:42:36.000Z",
  "createdAt": "2026-05-17T03:54:07.708Z",
  "id": "fMU6o4xZCxSRSoYK",
  "name": "Homelab Disk Usage Report",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a96dc639-5660-41ac-97ac-119bebe0542c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "echo '=== automation-01 ===' && df -h /\necho '=== docker-01 ===' && (ssh -o StrictHostKeyChecking=no -o ConnectTimeout=5 10.0.0.33 'df -h /' || echo 'OFFLINE')\necho '=== colmado-db ===' && (ssh -o StrictHostKeyChecking=no -o ConnectTimeout=5 10.0.0.35 'df -h /' || echo 'OFFLINE')"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "bc75cadf-8008-4fba-b2ca-7d2295fd067c",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "GW8PIlItkey26oPL",
          "name": "automation-01"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stdout = items[0].json.stdout || \"\";\nconst sections = stdout.split(\"===\");\nconst reports = [];\n\nfor (let i = 1; i < sections.length; i += 2) {\n  const host = sections[i].trim();\n  const content = sections[i+1] ? sections[i+1].trim() : \"\";\n  \n  if (content === \"OFFLINE\") {\n    reports.push({ host, status: \"OFFLINE\" });\n    continue;\n  }\n  \n  const lines = content.split(\"\\n\");\n  const dataLine = lines.find(line => line.includes(\"/\") || line.includes(\"tmpfs\") || line.match(/^\\/dev\\//) || line.split(/\\s+/).length >= 6 && line !== lines[0]);\n  if (dataLine) {\n    const parts = dataLine.trim().split(/\\s+/);\n    if (parts.length >= 6) {\n      reports.push({\n        host,\n        status: \"ONLINE\",\n        filesystem: parts[0],\n        size: parts[1],\n        used: parts[2],\n        available: parts[3],\n        usage: parts[4],\n        mount: parts[5]\n      });\n    } else {\n      reports.push({ host, status: \"PARSE_ERROR\", raw: dataLine });\n    }\n  } else {\n    reports.push({ host, status: \"NO_DATA\", raw: content });\n  }\n}\n\nconst warningThreshold = 80;\nconst criticalThreshold = 90;\nlet highestStatus = \"Healthy\";\nlet messageEmoji = \"✅\";\n\nconst lines = [];\nlines.push(\"💾 **Homelab Disk Usage Report**\");\nlines.push(\"\");\nlines.push(`🕒 Time: ${new Date().toLocaleString(\"en-US\", { timeZone: \"America/Santo_Domingo\" })}`);\nlines.push(\"\");\n\nfor (const report of reports) {\n  if (report.status === \"OFFLINE\") {\n    lines.push(`🚨 **${report.host}**: OFFLINE`);\n    highestStatus = \"Critical\";\n    messageEmoji = \"🚨\";\n    continue;\n  }\n  \n  if (report.status !== \"ONLINE\") {\n    lines.push(`🚨 **${report.host}**: Unable to read disk stats`);\n    highestStatus = \"Critical\";\n    messageEmoji = \"🚨\";\n    continue;\n  }\n  \n  const usageVal = parseInt(report.usage.replace(\"%\", \"\"), 10);\n  let statusEmoji = \"✅\";\n  \n  if (usageVal >= criticalThreshold) {\n    statusEmoji = \"🚨\";\n    highestStatus = \"Critical\";\n    messageEmoji = \"🚨\";\n  } else if (usageVal >= warningThreshold) {\n    statusEmoji = \"⚠️\";\n    if (highestStatus !== \"Critical\") {\n      highestStatus = \"Warning\";\n      messageEmoji = \"⚠️\";\n    }\n  }\n  \n  lines.push(`${statusEmoji} **${report.host}**: ${report.usage} used (${report.used} / ${report.size}) — ${report.available} available`);\n}\n\nlines.push(\"\");\nlines.push(\"**Thresholds**\");\nlines.push(`- Warning: ${warningThreshold}% | Critical: ${criticalThreshold}%`);\n\nreturn [\n  {\n    json: {\n      content: lines.join(\"\\n\")\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "d070d4e0-2c0c-47f4-b9f6-f56b83503088",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "4df86482-3c09-498d-b10f-0e0fd3bcf146",
      "name": "Discord",
      "webhookId": "7a78a4fc-31b2-4e93-81ad-b1a5e927c5e0",
      "credentials": {
        "discordWebhookApi": {
          "id": "ZUE94hnemt0aeYVD",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "93f46295-3aad-4a49-9ae1-80cdf9064af4",
  "activeVersionId": null,
  "versionCounter": 48,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-17T03:54:07.716Z",
      "createdAt": "2026-05-17T03:54:07.716Z",
      "role": "workflow:owner",
      "workflowId": "fMU6o4xZCxSRSoYK",
      "projectId": "watVxhiyEGu7o6r1",
      "project": {
        "updatedAt": "2026-05-16T23:36:59.733Z",
        "createdAt": "2026-05-16T23:33:23.057Z",
        "id": "watVxhiyEGu7o6r1",
        "name": "Alfredo Yciano <alfredohiciano13@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a28a00c5-b0c8-43be-bdf6-fd02a41bbc63"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 8e5223a5",
    "description": ""
  }
}
