n8n-workflows/active/TGWSRgYDHDw2RzXZ.json
{
  "updatedAt": "2026-06-14T21:43:09.000Z",
  "createdAt": "2026-05-17T04:41:18.653Z",
  "id": "TGWSRgYDHDw2RzXZ",
  "name": "Proxmox USB Backup Verification",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "649e6de3-a732-46cb-b885-8163a25d48f5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "BACKUP_DIR=\"/mnt/usb-drive/proxmox-backups/dump\"; LATEST_BACKUP=$(find \"$BACKUP_DIR\" -type f \\( -name '*.vma.zst' -o -name '*.vma.gz' \\) -printf '%T@ %p\\n' 2>/dev/null | sort -nr | head -1 | cut -d' ' -f2-); LATEST_BACKUP_TIME=$(find \"$BACKUP_DIR\" -type f \\( -name '*.vma.zst' -o -name '*.vma.gz' \\) -printf '%TY-%Tm-%Td %TH:%TM %p\\n' 2>/dev/null | sort -r | head -1); printf \"HOST=%s\\n\" \"$(hostname)\"; printf \"DATE=%s\\n\" \"$(date '+%Y-%m-%d %H:%M:%S')\"; printf \"USB_MOUNT=%s\\n\" \"$(findmnt -n /mnt/usb-drive >/dev/null && echo 1 || echo 0)\"; printf \"USB_DISK=%s\\n\" \"$(df -h /mnt/usb-drive 2>/dev/null | awk 'NR==2 {print $2,$3,$4,$5}')\"; printf \"LATEST_BACKUP=%s\\n\" \"$LATEST_BACKUP\"; printf \"LATEST_BACKUP_TIME=%s\\n\" \"$LATEST_BACKUP_TIME\"; printf \"BACKUP_COUNT_24H=%s\\n\" \"$(find \"$BACKUP_DIR\" -type f \\( -name '*.vma.zst' -o -name '*.vma.gz' \\) -mtime -1 2>/dev/null | wc -l)\"; printf \"TOTAL_BACKUPS=%s\\n\" \"$(find \"$BACKUP_DIR\" -type f \\( -name '*.vma.zst' -o -name '*.vma.gz' \\) 2>/dev/null | wc -l)\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "87957cdc-f70a-4155-a71d-7b58dd00efe6",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "crAnE4D9LJFibYL6",
          "name": "proxmox"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stdout = items[0].json.stdout || \"\";\n\nconst data = {};\nfor (const line of stdout.split(\"\\n\")) {\n  const index = line.indexOf(\"=\");\n  if (index === -1) continue;\n\n  const key = line.slice(0, index).trim();\n  const value = line.slice(index + 1).trim();\n  data[key] = value;\n}\n\nconst usbMounted = Number(data.USB_MOUNT || 0) > 0;\nconst hasLatestBackup = Boolean(data.LATEST_BACKUP);\nconst backupsLast24h = Number(data.BACKUP_COUNT_24H || 0);\n\nconst backupOk = usbMounted && hasLatestBackup && backupsLast24h > 0;\n\nconst lines = [];\n\nlines.push(\"💾 **Proxmox USB Backup Verification**\");\nlines.push(\"\");\nlines.push(`🕒 Time: ${new Date().toLocaleString(\"en-US\", { timeZone: \"America/Santo_Domingo\" })}`);\nlines.push(`🖥️ Host: ${data.HOST || \"proxmox\"}`);\nlines.push(\"\");\n\nlines.push(backupOk ? \"✅ **Proxmox backup looks good**\" : \"🚨 **Proxmox backup needs attention**\");\nlines.push(\"\");\n\nlines.push(`${usbMounted ? \"✅\" : \"🚨\"} USB drive mounted`);\nlines.push(`${hasLatestBackup ? \"✅\" : \"🚨\"} Latest backup found`);\nlines.push(`${backupsLast24h > 0 ? \"✅\" : \"🚨\"} Backups in last 24h: ${backupsLast24h}`);\n\nlines.push(\"\");\nlines.push(`💽 USB usage: ${data.USB_DISK || \"unknown\"}`);\n\nlines.push(\"\");\nlines.push(\"**Latest backup**\");\nlines.push(\"```\");\nlines.push(data.LATEST_BACKUP_TIME || data.LATEST_BACKUP || \"missing\");\nlines.push(\"```\");\n\nreturn [\n  {\n    json: {\n      content: lines.join(\"\\n\"),\n      backupOk\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "52ca66c1-fef7-4874-b293-329df28f13b4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "452e192f-8a8e-4e64-9f20-9e3774df1a75",
      "name": "Discord",
      "webhookId": "f499289d-c3fa-45e9-b84a-c6c6d5da3705",
      "credentials": {
        "discordWebhookApi": {
          "id": "ZUE94hnemt0aeYVD",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2ddda0b5-06a1-4479-b5b8-b9207f0bbc0e",
  "activeVersionId": null,
  "versionCounter": 39,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-17T04:41:18.669Z",
      "createdAt": "2026-05-17T04:41:18.669Z",
      "role": "workflow:owner",
      "workflowId": "TGWSRgYDHDw2RzXZ",
      "projectId": "watVxhiyEGu7o6r1",
      "project": {
        "updatedAt": "2026-05-16T23:36:59.733Z",
        "createdAt": "2026-05-16T23:33:23.057Z",
        "id": "watVxhiyEGu7o6r1",
        "name": "Alfredo Yciano <alfredohiciano13@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a28a00c5-b0c8-43be-bdf6-fd02a41bbc63"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
