n8n-workflows/active/wBVURdTLzGiSSiwk.json
{
  "updatedAt": "2026-06-22T03:28:14.918Z",
  "createdAt": "2026-05-17T01:04:40.201Z",
  "id": "wBVURdTLzGiSSiwk",
  "name": "Daily Homelab Health Report",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b551e990-a600-447a-b1f0-8b42d0c87c90",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        0
      ],
      "id": "337b2bb7-9017-4921-95cf-d96ff7781671",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      name: \"Homepage\",\n      url: \"http://10.0.0.67:3000\"\n    }\n  },\n  {\n    json: {\n      name: \"Uptime Kuma\",\n      url: \"http://10.0.0.67:3001\"\n    }\n  },\n  {\n    json: {\n      name: \"n8n\",\n      url: \"http://10.0.0.67:5678\"\n    }\n  },\n  {\n    json: {\n      name: \"Portainer\",\n      url: \"https://10.0.0.67:9443\"\n    }\n  },\n  {\n    json: {\n      name: \"Forgejo\",\n      url: \"http://10.0.0.67:3002\"\n    }\n  },\n  {\n    json: {\n      name: \"Semaphore\",\n      url: \"http://10.0.0.67:3005\"\n    }\n  },\n  {\n    json: {\n      name: \"Nginx Proxy Manager\",\n      url: \"http://10.0.0.67:81\"\n    }\n  },\n  {\n    json: {\n      name: \"Life Control Center\",\n      url: \"http://10.0.0.67:3007\"\n    }\n  },\n  {\n    json: {\n      name: \"Nextcloud\",\n      url: \"http://10.0.0.33:8081\"\n    }\n  },\n  {\n    json: {\n      name: \"Dozzle\",\n      url: \"http://10.0.0.33:8088\"\n    }\n  },\n  {\n    json: {\n      name: \"Proxmox VE\",\n      url: \"https://10.0.0.167:8006\"\n    }\n  },\n  {\n    json: {\n      name: \"Pi-hole\",\n      url: \"http://10.0.0.20/admin/\"\n    }\n  },\n  {\n    json: {\n      name: \"Netdata automation-01\",\n      url: \"http://10.0.0.67:19999\"\n    }\n  },\n  {\n    json: {\n      name: \"Netdata docker-01\",\n      url: \"http://10.0.0.33:19999\"\n    }\n  },\n  {\n    json: {\n      name: \"Supabase Studio\",\n      url: \"http://10.0.0.35:8000\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "274f93a7-92af-4d00-bf76-c22c1dcfa1c8",
      "name": "Service List"
    },
    {
      "parameters": {
        "jsCode": "const serviceItems = $('Service List').all();\nconst resultItems = items;\n\nconst lines = [];\n\nlines.push(\"📊 **YZEE Labs Daily Health Report**\");\nlines.push(\"\");\nlines.push(`🕒 Time: ${new Date().toLocaleString(\"en-US\", { timeZone: \"America/Santo_Domingo\" })}`);\nlines.push(\"\");\n\nfor (let i = 0; i < serviceItems.length; i++) {\n  const service = serviceItems[i].json;\n  const result = resultItems[i]?.json || {};\n\n  const name = service.name || \"Unknown Service\";\n  const url = service.url || \"No URL\";\n\n  const isDown = result.error !== undefined && result.error !== null;\n\n  if (isDown) {\n    const errorMessage = result.error.message || result.error || \"Unknown error\";\n    lines.push(`🚨 **${name}**: DOWN`);\n    lines.push(`   URL: ${url}`);\n    lines.push(`   Error: ${errorMessage}`);\n  } else {\n    lines.push(`✅ **${name}**: Online`);\n  }\n}\n\nlines.push(\"\");\nlines.push(\"🔗 Dashboard: http://10.0.0.67:3000\");\n\nreturn [\n  {\n    json: {\n      content: lines.join(\"\\n\")\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "b3a494d5-9f17-4859-8a34-cd53f4215d0b",
      "name": "Build Discord Report"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{$json.content}}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        928,
        0
      ],
      "id": "07f8229e-75a9-4a72-894e-b6cf552b0e62",
      "name": "Discord",
      "webhookId": "d6f5254c-26da-42b4-baef-9a50cbb676b1",
      "credentials": {
        "discordWebhookApi": {
          "id": "ZUE94hnemt0aeYVD",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Service List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service List": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Build Discord Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Discord Report": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c11259e2-0377-42fc-93a0-c2705fce0eef",
  "activeVersionId": null,
  "versionCounter": 70,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-17T01:04:40.212Z",
      "createdAt": "2026-05-17T01:04:40.212Z",
      "role": "workflow:owner",
      "workflowId": "wBVURdTLzGiSSiwk",
      "projectId": "watVxhiyEGu7o6r1",
      "project": {
        "updatedAt": "2026-05-16T23:36:59.733Z",
        "createdAt": "2026-05-16T23:33:23.057Z",
        "id": "watVxhiyEGu7o6r1",
        "name": "Alfredo Yciano <alfredohiciano13@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a28a00c5-b0c8-43be-bdf6-fd02a41bbc63"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
